$primarycolor: #F05A27;
$complimentary: #000000;
$textentrygray: #2f4f4f;
$backgroundwhite: #ffffff;
$navmenuline: #808080;
$lighttext: #ffffff;
$thirdcolor: #513015;
$secondarytext: #fafad2;
$lightbackground: #D3D3D3;