* {
  font-family: Teko, Helvetica, sans-serif;
  font-size: 16px;
}

a:hover {
  cursor: pointer !important;
}

h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 800;
}

h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  margin-top: 0;
}

ul {
  list-style: none;
}

a {
  all: unset;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hamburger-menu-close-icon {
  display: none;
  margin: 5px 4px;
}

.hamburger-menu-icon {
  background: #000000;
  border: none;
  display: inline;
}
@media (min-width: 730px) {
  .hamburger-menu-icon {
    display: none;
  }
}

@media (min-width: 730px) {
  .hamburger-menu-icons {
    display: none;
  }
}

.header-position {
  position: relative;
  z-index: 1;
}

.header-icon-spacing {
  justify-content: space-between;
  margin: 0 10px 0 0;
  align-items: center;
}

@media (min-width: 730px) {
  .header-logo {
    width: 240px;
    height: 62px;
    cursor: pointer;
  }
}

.header-search {
  margin: 0 20px 0 0;
  cursor: pointer;
}

.header-search-entry {
  display: none;
}
@media (min-width: 730px) {
  .header-search-entry {
    display: block;
    height: 35px;
    border-radius: 20px;
    margin: 0 5px 5px 0;
    padding: 4px 0 0 18px;
    width: 250px;
    border: none;
    text-align: left;
  }
}

.header-width {
  width: 100%;
  min-width: 320px;
}

.nav-menu {
  position: relative;
  height: 590px;
  background-color: #ffffff;
  color: #000000;
  font-size: 50px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 730px) {
  .nav-menu {
    position: relative;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
  }
}

.nav-menu-hide {
  display: none;
}
@media (min-width: 730px) {
  .nav-menu-hide {
    display: block;
  }
}

.nav-menu li {
  border-bottom: 2px solid #808080;
}
@media (min-width: 730px) {
  .nav-menu li {
    border-bottom: none;
  }
}

.nav-menu a {
  color: #000000;
}
@media (min-width: 730px) {
  .nav-menu a {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 200;
  }
}

@media (min-width: 730px) {
  .nav-menu-desktop {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 18px;
  }
}

.l-header {
  justify-content: space-around;
  padding: 10px 0 0 0;
  display: flex;
}
@media (min-width: 730px) {
  .l-header {
    justify-content: space-around;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
@media (min-width: 730px) {
  .overlay {
    display: none;
  }
}

.shopping-cart {
  cursor: pointer;
}

.btn-email-submit {
  background-color: #000000;
  padding: 0 10px 0 8px;
  border-radius: 0 20px 20px 0;
  border-style: none;
  height: 35px;
  cursor: pointer;
}

.email-style {
  padding-left: 20px;
  border-radius: 20px 0 0 20px;
  border-style: solid;
  border-color: #000000;
  height: 31px;
}

.l-footer {
  width: 320px;
  display: block;
  margin: auto;
}
@media (min-width: 730px) {
  .l-footer {
    max-width: 900px;
    display: block;
    margin: auto;
  }
}

.footer-align {
  text-align: center;
}

.footer-icons {
  display: block;
}
@media (min-width: 730px) {
  .footer-icons {
    width: 310px;
  }
}

.footer-logo {
  cursor: pointer;
}

.footer-mtn-icon {
  width: auto;
  margin-top: 10px;
}

.footer-nav {
  margin-top: 10px;
}
.footer-nav li {
  cursor: pointer;
}

.footer-social {
  justify-content: center;
}

.footer-social li {
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 730px) {
  .l-footer-expanded {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
  }
}

.l-footer-space {
  margin-top: 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headers {
  display: block;
  background-color: #F05A27;
  text-align: center;
  height: 50px;
  width: 100%;
  min-width: 320px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0;
}

.text-email-submit {
  font-size: 20px;
  color: #ffffff;
}

.text-form-entry {
  font-size: 20px;
  color: #2f4f4f;
}

.text-footer-nav {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

.text-email-label {
  font-size: 25px;
  color: #000000;
}

.text-btn {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.text-mobile {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.text-headline {
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  line-height: 0.8;
}

.text-sub {
  font-size: 35px;
  font-weight: 600;
  line-height: 0.9;
  color: #fafad2;
}

.text-sub-h2 {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}

.text-story {
  line-height: 1.5;
  font-weight: 400;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 20px;
}


.text-primary {
  color: #F05A27;
}


.header-layout {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 40px;

}

@media (max-width: 1000px) {
  .header-layout {
   display: block;
   width: 100%;
  }

}

.l-nav {
  display: flex;
  font-size: 50px;
  gap: 36px;
}
@media (max-width: 1000px) {
  .l-nav {
  justify-content: center;
    font-size: 35px;
    gap: 30px;
  }
  }




.l-nav a:hover {
  color: gray;
}

.main-layout {
  width: 80%;
  margin: auto;
}


.name {
  font-size: 100px;
  display: block;
}
@media (max-width: 1000px) {
  .name {
    font-size: 70px;

    background: black;
    color: white;
    text-align: center;
   
  }
}


.l-main-footer{
  height: auto;
  width: 80%;
  margin: auto;
  font-size: 32px;
  padding: 16px 0;
  margin-bottom: 24px;
}

.l-main-footer li {
  display: block;
}

.l-main-footer li span {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
