@media (min-width: 576px) {
  .is-hidden-s {
    display: none !important;
  }

  .block-s {
    display: block !important;
  }

  .inline-block-s {
    display: inline-block !important;
  }

  .float-left-s {
    float: left;
  }
  .float-none-s {
    float: none;
  }
  .float-right-s {
    float: right;
  }
}
@media (min-width: 768px) {
  .is-hidden-m {
    display: none !important;
  }

  .block-m {
    display: block !important;
  }

  .inline-block-m {
    display: inline-block !important;
  }

  .float-left-m {
    float: left;
  }
  .float-none-m {
    float: none;
  }
  .float-right-m {
    float: right;
  }
}
@media (min-width: 992px) {
  .is-hidden-l {
    display: none !important;
  }

  .block-l {
    display: block !important;
  }

  .inline-block-l {
    display: inline-block !important;
  }

  .float-left-l {
    float: left;
  }
  .float-none-l {
    float: none;
  }
  .float-right-l {
    float: right;
  }
}
@media (min-width: 1200px) {
  .is-hidden-xl {
    display: none !important;
  }

  .block-xl {
    display: block !important;
  }

  .inline-block-xl {
    display: inline-block !important;
  }

  .float-left-xl {
    float: left;
  }
  .float-none-xl {
    float: none;
  }
  .float-right-xl {
    float: right;
  }
}
.bg-grey-x-dark {
  background-color: #333;
}

.bg-grey-dark {
  background-color: #666;
}

.bg-grey-medium {
  background-color: #ccc;
}

.bg-grey-light {
  background-color: #eee;
}

.bg-grey-x-light {
  background-color: #f9f9f9;
}

.bg-blue-light {
  background-color: #ebecfd;
}

.bg-blue-medium {
  background-color: #1c23a5;
}

.bg-blue-dark {
  background-color: #1a1d5e;
}

.bg-green-light {
  background-color: #edfaed;
}

.bg-green-dark {
  background-color: #008000;
}

.bg-yellow-light {
  background-color: #fdf6e5;
}

.bg-yellow-medium {
  background-color: #ffc930;
}

.bg-yellow-dark {
  background-color: #eeb207;
}

.bg-red-light {
  background-color: #fff5f5;
}

.bg-red-dark {
  background-color: #c00;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.border-grey-x-dark {
  border: 1px solid #333;
}

.border-grey-dark {
  border: 1px solid #666;
}

.border-grey-medium {
  border: 1px solid #ccc;
}

.border-grey-light {
  border: 1px solid #eee;
}

.border-grey-x-light {
  border: 1px solid #f9f9f9;
}

.border-blue-light {
  border: 1px solid #ebecfd;
}

.border-blue-medium {
  border: 1px solid #1c23a5;
}

.border-blue-dark {
  border: 1px solid #1a1d5e;
}

.border-green-light {
  border: 1px solid #edfaed;
}

.border-green-dark {
  border: 1px solid #008000;
}

.border-yellow-light {
  border: 1px solid #fdf6e5;
}

.border-yellow-medium {
  border: 1px solid #ffc930;
}

.border-yellow-dark {
  border: 1px solid #eeb207;
}

.border-red-light {
  border: 1px solid #fff5f5;
}

.border-red-dark {
  border: 1px solid #c00;
}

.border-black {
  border: 1px solid #000;
}

.border-white {
  border: 1px solid #fff;
}

.border-none {
  border: 0;
}
.border-top-none {
  border-width: 0 1px 1px;
}
.border-right-none {
  border-width: 1px 0 1px 1px;
}
.border-bottom-none {
  border-width: 1px 1px 0;
}
.border-left-none {
  border-width: 1px 1px 1px 0;
}
.border-top {
  border-width: 1px 0 0;
}
.border-right {
  border-width: 0 1px 0 0;
}
.border-bottom {
  border-width: 0 0 1px;
}
.border-left {
  border-width: 0 0 0 1px;
}
.border-rounded {
  border-radius: 4px;
}

.btn-block {
  display: block;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.is-hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-basis-a {
  flex-basis: auto;
}
.flex-basis-0 {
  flex-basis: 0;
}

.float-left {
  float: left;
}
.float-none {
  float: none;
}
.float-right {
  float: right;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-baseline {
  align-items: baseline;
}
.align-self-auto {
  align-self: auto;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-stretch {
  align-self: stretch;
}
.align-self-baseline {
  align-self: baseline;
}

.inline-none {
  margin: 0 0 0 0;
}

.inline-xs {
  margin: 0 4px 0 0;
}

.inline-s {
  margin: 0 8px 0 0;
}

.inline-m {
  margin: 0 16px 0 0;
}

.inline-l {
  margin: 0 32px 0 0;
}

.inline-xl {
  margin: 0 64px 0 0;
}

.inline-xxl {
  margin: 0 128px 0 0;
}

.inset-square-none {
  padding: 0;
}

.inset-square-xs {
  padding: 4px;
}

.inset-square-s {
  padding: 8px;
}

.inset-square-m {
  padding: 16px;
}

.inset-square-l {
  padding: 32px;
}

.inset-square-xl {
  padding: 64px;
}

.inset-square-xxl {
  padding: 128px;
}

.stack-none {
  margin: 0 0 0;
}

.stack-xs {
  margin: 0 0 4px;
}

.stack-s {
  margin: 0 0 8px;
}

.stack-m {
  margin: 0 0 16px;
}

.stack-l {
  margin: 0 0 32px;
}

.stack-xl {
  margin: 0 0 64px;
}

.stack-xxl {
  margin: 0 0 128px;
}

.inset-squish-s {
  padding: 4px 8px;
}
.inset-squish-m {
  padding: 8px 16px;
}
.inset-squish-l {
  padding: 16px 32px;
}
.inset-squish-xl {
  padding: 32px 64px;
}
.inset-squish-xxl {
  padding: 64px 128px;
}
.inset-stretch-xs {
  padding: 8px 4px;
}
.inset-stretch-s {
  padding: 16px 8px;
}
.inset-stretch-m {
  padding: 32px 16px;
}
.inset-stretch-l {
  padding: 64px 32px;
}
.inset-stretch-xl {
  padding: 128px 64px;
}

.margin-top-none {
  margin-top: 0;
}

.padding-top-none {
  padding-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.padding-right-none {
  padding-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.padding-left-none {
  padding-left: 0;
}

.margin-none {
  margin: 0;
}

.padding-none {
  padding: 0;
}

.margin-top-xs {
  margin-top: 4px;
}

.padding-top-xs {
  padding-top: 4px;
}

.margin-right-xs {
  margin-right: 4px;
}

.padding-right-xs {
  padding-right: 4px;
}

.margin-bottom-xs {
  margin-bottom: 4px;
}

.padding-bottom-xs {
  padding-bottom: 4px;
}

.margin-left-xs {
  margin-left: 4px;
}

.padding-left-xs {
  padding-left: 4px;
}

.margin-xs {
  margin: 4px;
}

.padding-xs {
  padding: 4px;
}

.margin-top-s {
  margin-top: 8px;
}

.padding-top-s {
  padding-top: 8px;
}

.margin-right-s {
  margin-right: 8px;
}

.padding-right-s {
  padding-right: 8px;
}

.margin-bottom-s {
  margin-bottom: 8px;
}

.padding-bottom-s {
  padding-bottom: 8px;
}

.margin-left-s {
  margin-left: 8px;
}

.padding-left-s {
  padding-left: 8px;
}

.margin-s {
  margin: 8px;
}

.padding-s {
  padding: 8px;
}

.margin-top-m {
  margin-top: 16px;
}

.padding-top-m {
  padding-top: 16px;
}

.margin-right-m {
  margin-right: 16px;
}

.padding-right-m {
  padding-right: 16px;
}

.margin-bottom-m {
  margin-bottom: 16px;
}

.padding-bottom-m {
  padding-bottom: 16px;
}

.margin-left-m {
  margin-left: 16px;
}

.padding-left-m {
  padding-left: 16px;
}

.margin-m {
  margin: 16px;
}

.padding-m {
  padding: 16px;
}

.margin-top-l {
  margin-top: 32px;
}

.padding-top-l {
  padding-top: 32px;
}

.margin-right-l {
  margin-right: 32px;
}

.padding-right-l {
  padding-right: 32px;
}

.margin-bottom-l {
  margin-bottom: 32px;
}

.padding-bottom-l {
  padding-bottom: 32px;
}

.margin-left-l {
  margin-left: 32px;
}

.padding-left-l {
  padding-left: 32px;
}

.margin-l {
  margin: 32px;
}

.padding-l {
  padding: 32px;
}

.margin-top-xl {
  margin-top: 64px;
}

.padding-top-xl {
  padding-top: 64px;
}

.margin-right-xl {
  margin-right: 64px;
}

.padding-right-xl {
  padding-right: 64px;
}

.margin-bottom-xl {
  margin-bottom: 64px;
}

.padding-bottom-xl {
  padding-bottom: 64px;
}

.margin-left-xl {
  margin-left: 64px;
}

.padding-left-xl {
  padding-left: 64px;
}

.margin-xl {
  margin: 64px;
}

.padding-xl {
  padding: 64px;
}

.margin-top-xxl {
  margin-top: 128px;
}

.padding-top-xxl {
  padding-top: 128px;
}

.margin-right-xxl {
  margin-right: 128px;
}

.padding-right-xxl {
  padding-right: 128px;
}

.margin-bottom-xxl {
  margin-bottom: 128px;
}

.padding-bottom-xxl {
  padding-bottom: 128px;
}

.margin-left-xxl {
  margin-left: 128px;
}

.padding-left-xxl {
  padding-left: 128px;
}

.margin-xxl {
  margin: 128px;
}

.padding-xxl {
  padding: 128px;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-auto {
  margin: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-normal {
  font-style: normal;
}

.text-italic {
  font-style: italic;
}

.text-initial {
  font-style: initial;
}

.text-inherit {
  font-style: inherit;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-x-bold {
  font-weight: 900;
}

.text-grey-x-dark {
  color: #333;
}

.text-grey-dark {
  color: #666;
}

.text-grey-medium {
  color: #ccc;
}

.text-grey-light {
  color: #eee;
}

.text-grey-x-light {
  color: #f9f9f9;
}

.text-blue-light {
  color: #ebecfd;
}

.text-blue-medium {
  color: #1c23a5;
}

.text-blue-dark {
  color: #1a1d5e;
}

.text-green-light {
  color: #edfaed;
}

.text-green-dark {
  color: #008000;
}

.text-yellow-light {
  color: #fdf6e5;
}

.text-yellow-medium {
  color: #ffc930;
}

.text-yellow-dark {
  color: #eeb207;
}

.text-red-light {
  color: #fff5f5;
}

.text-red-dark {
  color: #c00;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-s {
  font-size: 12px;
  line-height: 16px;
}
.text-m {
  font-size: 16px;
  line-height: 20px;
}
.text-l {
  font-size: 20px;
  line-height: 24px;
}
.text-xl {
  font-size: 24px;
  line-height: 32px;
}
.text-2xl {
  font-size: 28px;
  line-height: 36px;
}
.text-3xl {
  font-size: 36px;
  line-height: 40px;
}
.text-4xl {
  font-size: 44px;
  line-height: 52px;
}
.text-transform-none {
  text-transform: none;
}
.text-nowrap {
  white-space: nowrap;
}
.text-strikethrough {
  text-decoration: line-through;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-underline:hover, .text-decoration-underline:focus {
  text-decoration: none;
}
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-none:hover, .text-decoration-none:focus {
  text-decoration: underline;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-middle {
  vertical-align: middle;
}

.visibility-auto {
  content-visibility: auto;
}

.intrinsic-500 {
  contain-intrinsic-size: 0 500px;
}

.intrinsic-250 {
  contain-intrinsic-size: 0 250px;
}

.list-disc {
  list-style-type: disc;
}

.width-85 {
  width: 85%;
}

.width-100 {
  width: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-radius-s {
  border-radius: 4px;
}
/*# sourceMappingURL=maps/utilities.css.map */
