.portfolio-card {
    display: block;
    width: calc(24%-14px);
    border-color: black;
    border-radius: 8px;
    border: solid;
    padding: 8px;
    font-size: 28px;
    text-align: center;
}

.portfolio-card img {
width: 300px;
height: 240px;
display: block;
padding-bottom: 16px;
}



.portfolio-card:hover {
    border-color: #F87431;
    color: gray;
}

.portfolio-directions {
    color: #F87431;
    display: block;
    font-size: 16px;
    margin-top:-8px;
    }

.l-portfolio {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.l-work {
    width: 80%;
    margin: 8px auto 36px;
    display: block;
}



.l-work h1 {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #F87431;
    text-align: center;
    margin-top: 16px;
}

.l-work h2 {
    font-size: 40px;
    font-weight: 300;
    color: #000;
    
}

.l-work p {
    color: #000;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 80%;
}


.text-work-main {
    line-height: 1.5;
    font-weight: 200;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 16px;
  }

.l-work-sections {
    display: flex;
    align-items: flex-start;
    gap: 16px;

}

.l-work-sections h3 {
color: #000;

}

.l-work-sections p {
    color: #000;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
   
    }

    .l-work-sections-b {
        max-width: 1000px;
    }
    
    .ux-img {
        margin: 0 auto 40px;
        display: block;
        width: 70%;
    }

    @media (max-width: 500px) {
        .l-work p {
            max-width: 100%;
        }
        .l-work-sections-a img {
            width: 24px;
            height: auto;
            padding-top: 8px;
        }
        .l-work-sections-b p {
           font-size: 12px;
            line-height: 1.8;
        }
        .ux-img {
            margin: 0 auto 20px;
            width: 100%;
        }

    }